<settings xmlns="http://maven.apache.org/SETTINGS/1.2.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0 https://maven.apache.org/xsd/settings-1.2.0.xsd">
    <servers>
        <server>
            <id>spring-enterprise</id>
            <username>MAVEN_USERNAME</username>
            <password>MAVEN_PASSWORD</password>
        </server>
    </servers>
    <profiles>
        <profile>
            <id>commercial</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <repositories>
                <repository>
                    <id>spring-enterprise</id>
                    <url>https://packages.broadcom.com/artifactory/spring-enterprise</url>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>spring-enterprise</id>
                    <url>https://packages.broadcom.com/artifactory/spring-enterprise</url>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>commercial</activeProfile>
    </activeProfiles>
</settings>